/* h1{
    color:darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    color: grey;
    font-size: larger;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    border: solid pink 2px;
}
li a[href]{
    color: indianred;
}
li a[href="http://example.com"]{
    color: grey;
}
div.job-title{
    font-weight: bolder;
}
p.col-1-2{
    width:50x;
    text-align: left;
}
#properName{
    text-decoration: underline dotted black;
    color: blueviolet
}
/* a:visited{ */
    /* color: hotpink;
}
header>p{
    color: aquamarine;
/* } */
li::first-letter{
    font-size: 200%;
    font-family: fantasy;
}
a[href="google.com"]{
    color:red;
}
a[href="Wikipedia.com"]{
    color:grey;
}
a[href="W3schools.com"]{
    color:limegreen;
}
a[href="Mdn.com"]{
    color:lightblue;
}
a[href="github.com"]{
    color:green;
}
a[href]::after{
    content: ".com";
}
a[href="google.com"]::visited{
    color:red;
}
a[href="Wikipedia.com"]::visited{
    color:grey;
}
a[href="W3schools.com"]::visited{
    color:limegreen;
}
a[href="Mdn.com"]::visited{
    color:lightblue;
}
a[href="github.com"]::visited{
    color:green;
}
a[href]:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}